/******* PAGINA PRINCIPAL (INDEX) *******/

/* MOBILE FIRST */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    justify-content: space-between;
    padding: 10px;
}

body{
    background-image: url(/img/redes-blanco.jpg);
}

h1{
    font-size: 1rem;
    text-align: center;
}
.contenedor-img1{
    font-size: 0px;
    background-image: url(/img/camioneta-comtec.jpg);
    height: 45vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: whitesmoke;
    text-shadow: 4px 1px 5px #0E0D0D;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor-img2{
    font-size: 0px;
    background-color: #0E0D0D;
    background-image: url(/img/camioneta-nieve.png);
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    display: flex;
    justify-content: center;
/*     align-items: center; */
    padding: 2rem;
    color: whitesmoke;
    text-shadow: 4px 1px 5px #0E0D0D;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.contenedor-img2 p{
    margin-left: 100px;
    margin-right: 100px;
    font-size: medium;
}

@media (min-width: 768px) {

    .contenedor-img1{
        font-size: 0px;
        background-image: url(/img/camioneta-comtec.jpg);
        height: 45vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: unset;
        background-position: center;
        display: flex;
        justify-content: center;
        padding: 2rem;
        color: whitesmoke;
        text-shadow: 4px 1px 5px #0E0D0D;
        font-size: xx-large;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .contenedor-img2 p{
        margin-left: 150px;
        margin-right: 150px;
        font-size: xx-large;
    }

    h1{
        font-size: 2.8rem;
    }
}

/* pagina nosotros */
/* MOBILE FIRST */

.grid-container {
    display: grid;
    grid-template-rows: 350px 250px;
    grid-template-columns: 1.7fr; 
    grid-gap: 5px;
    margin: 5px;
    border-radius: 50px;
}

.grid-item1 {
    background-image: url(/img/equipo.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.grid-item2 {
    text-align: center;
    /* color: #0571B6; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    border-radius: 10px;

}
.grid-item2 p{
    font-size: small;
}

.tituloh1{
    text-align: center;
    padding-bottom: 20px;

}

.tituloh1 h1{
    /* color: #2D66AB; */
/*     text-shadow: 4px 1px 5px #0571B6; */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


main .galeria-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    padding-bottom: 20px;
}

main .galeria-img .productos{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    width: 300px;
    height: 400px;
    padding: 10px;
    background-image: url(/img/comercial.png);
    box-shadow: 6px 3px 10px grey;
    border-radius: 10px;
}

main .galeria-img .productos img{
    height: 150px;
    padding-top: 10px;
}

main .galeria-img .productos .titulos-productos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin-top: 10px;
}

main .galeria-img .productos-it{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    width: 300px;
    height: 400px;
    padding: 10px;
    background-image: url(/img/targeta\ IT.png);
    box-shadow: 6px 3px 10px grey;
    border-radius: 10px;
}

main .galeria-img .productos-it img{
    height: 150px;
    padding-top: 10px;
}

main .galeria-img .productos-it .titulos-productos-it{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin-top: 10px;
}

main .galeria-img .productos-hys{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    width: 300px;
    height: 400px;
    padding: 10px;
    background-image: url(/img/targeta-hys.png);
    box-shadow: 6px 3px 10px grey;
    border-radius: 10px;
    
}

main .galeria-img .productos-hys img{
    height: 150px;
    padding-top: 10px;
}

main .galeria-img .productos-hys .titulos-productos-hys{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: center;
    margin-top: 10px;
}

main .galeria-img .productos-oym{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    width: 300px;
    height: 400px;
    padding: 10px;
    background-image: url(/img/targeta-oym.png);
    box-shadow: 6px 3px 10px grey;
    border-radius: 10px;
}

main .galeria-img .productos-oym img{
    height: 150px;
    padding-top: 10px;
}

main .galeria-img .productos-oym .titulos-productos-oym{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: center;
    margin-top: 10px;
}

@media (min-width: 768px) {    
    .grid-container {
        display: grid;
        grid-template-rows: 500px;
        grid-template-columns: 1.7fr 1fr; 
        grid-gap: 15px;
        margin: 20px;
        margin-bottom: 50px;
        border-radius: 30px;
        
    }

    .grid-item1 {
        background-image: url(/img/equipo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .grid-item2 {
        text-align: center;
        /* color: #0571B6; */
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 15px;
        /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        border-radius: 50px;

    }
    .grid-item2 p{
        font-size: medium;
    }

    .tituloh1{
        text-align: center;
        padding-bottom: 20px;

    }

    .tituloh1 h1{
        /* color: #2D66AB; */
    /*     text-shadow: 4px 1px 5px #0571B6; */
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    main .galeria-img{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:20px;
        padding-bottom: 20px;
    }


    main .galeria-img .productos{
        display:flex;
        flex-direction: column;
        align-items: center;
        color: whitesmoke;
        width: 300px;
        height: 400px;
        padding: 10px;
        background-image: url(/img/comercial.png);
        box-shadow: 6px 3px 10px grey;
        border-radius: 10px;
    }


    main .galeria-img .productos img{
        height: 150px;
        padding-top: 10px;
    }

    main .galeria-img .productos .titulos-productos{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        margin-top: 10px;
    }

    main .galeria-img .productos-it{
        display:flex;
        flex-direction: column;
        align-items: center;
        color: whitesmoke;
        width: 300px;
        height: 400px;
        padding: 10px;
        background-image: url(/img/targeta\ IT.png);
        box-shadow: 6px 3px 10px grey;
        border-radius: 10px;
    }

    main .galeria-img .productos-it img{
        height: 150px;
        padding-top: 10px;
    }

    main .galeria-img .productos-it .titulos-productos-it{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        margin-top: 10px;
    }

    main .galeria-img .productos-hys{
        display:flex;
        flex-direction: column;
        align-items: center;
        color: whitesmoke;
        width: 300px;
        height: 400px;
        padding: 10px;
        background-image: url(/img/targeta-hys.png);
        box-shadow: 6px 3px 10px grey;
        border-radius: 10px;
        
    }

    main .galeria-img .productos-hys img{
        height: 150px;
        padding-top: 10px;
    }

    main .galeria-img .productos-hys .titulos-productos-hys{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        text-align: center;
        margin-top: 10px;
    }

    main .galeria-img .productos-oym{
        display:flex;
        flex-direction: column;
        align-items: center;
        color: whitesmoke;
        width: 300px;
        height: 400px;
        padding: 10px;
        background-image: url(/img/targeta-oym.png);
        box-shadow: 6px 3px 10px grey;
        border-radius: 10px;
        
    }

    main .galeria-img .productos-oym img{
        height: 150px;
        padding-top: 10px;
    }

    main .galeria-img .productos-oym .titulos-productos-oym{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        text-align: center;
        margin-top: 10px;
    }

}


/* pagina de servicios. definicion de las grillas */
/* MOBILE FIRST */
main .grid-contenedor{
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(8,20%);
    gap: 10px;
    margin: 200px 40px;
    align-content: center;
    border-color: #0571B6;
}

.grilla-item1 {
    background-image:url(/img/satelital.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 1; 
    grid-column-end: 2; 
}


.grilla-item2 {
    text-align: left;
    padding-top: 30px;
    grid-column-start: 2; 
    grid-column-end: 4; 
}

    .grilla-item3 {
    text-align: right;
    padding-top: 30px;
    grid-column-start: 1; 
    grid-column-end: 3; 
}
  .grilla-item4 {
    background-image: url(/img/wifi.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 3; 
    grid-column-end: 4; 
}
  .grilla-item5 {
    background-image: url(/img/coaxial.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 1; 
    grid-column-end: 2; 
}
  .grilla-item6 {
    text-align: left;
    padding-top: 30px;
    grid-column-start: 2; 
    grid-column-end: 4; 
}
  .grilla-item7 {
    text-align: right;
    padding-top: 30px;
    grid-column-start: 1; 
    grid-column-end: 3; 
}
  .grilla-item8 {
    background-image: url(/img/obra-civil.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 3; 
    grid-column-end: 4; 
}
  .grilla-item9 {
    background-image: url(/img/fo.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 1; 
    grid-column-end: 2; 
}


  .grilla-item10 {
    text-align: left;
    padding-top: 30px;
    grid-column-start: 2; 
    grid-column-end: 4; 
}

  .grilla-item11 {
    text-align: right;
    padding-top: 30px;
    grid-column-start: 1; 
    grid-column-end: 3; 
}
  .grilla-item12 {
    background-image: url(/img/handy.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 3; 
    grid-column-end: 4; 
}
  .grilla-item13 {
    background-image: url(/img/consultoria.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 1; 
    grid-column-end: 2; 
}
  .grilla-item14 {
    text-align: left;
    padding-top: 30px;
    grid-column-start: 2; 
    grid-column-end: 4; 
}
  /* .grilla-item15 {
    background: blue;
    text-align: center;
    border: black 5px solid;
    grid-column-start: 1; 
    grid-column-end: 3; 
  }
  .grilla-item16 {
    background: blue;
    text-align: center;
    border: black 5px solid;
    grid-column-start: 3; 
    grid-column-end: 4; 
  } */

  @media (min-width: 768px) {   
    main .grid-contenedor{
        height: 70vh;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(8,20%);
        gap: 10px;
        margin: 260px 300px;
        align-content: center;
        border-color: #0571B6;
    }
    
    .grilla-item1 {
        background-image:url(/img/satelital.png);
        background-size: contain;
        background-repeat: no-repeat;
        grid-column-start: 1; 
        grid-column-end: 2; 
      }
    
    
      .grilla-item2 {
        text-align: left;
        padding-top: 50px;
        grid-column-start: 2; 
        grid-column-end: 4; 
      }
    
      .grilla-item3 {
        text-align: right;
        padding-top: 50px;
        grid-column-start: 1; 
        grid-column-end: 3; 
      }
      .grilla-item4 {
        background-image: url(/img/wifi.png);
        background-size: contain;
        background-repeat: no-repeat;
        grid-column-start: 3; 
        grid-column-end: 4; 
      }
      .grilla-item5 {
        background-image: url(/img/coaxial.png);
        background-size: contain;
        background-repeat: no-repeat;
        grid-column-start: 1; 
        grid-column-end: 2; 
      }
      .grilla-item6 {
        text-align: left;
        padding-top: 50px;
        grid-column-start: 2; 
        grid-column-end: 4; 
      }
      .grilla-item7 {
        text-align: right;
        padding-top: 50px;
        grid-column-start: 1; 
        grid-column-end: 3; 
      }
      .grilla-item8 {
        background-image: url(/img/obra-civil.png);
        background-size: contain;
        background-repeat: no-repeat;
        grid-column-start: 3; 
        grid-column-end: 4; 
      }
      .grilla-item9 {
        background-image: url(/img/fo.png);
        background-size: contain;
        background-repeat: no-repeat;
        grid-column-start: 1; 
        grid-column-end: 2; 
      }
    
    
      .grilla-item10 {
        text-align: left;
        padding-top: 50px;
        grid-column-start: 2; 
        grid-column-end: 4; 
      }
    
      .grilla-item11 {
        text-align: right;
        padding-top: 50px;
        grid-column-start: 1; 
        grid-column-end: 3; 
      }
      .grilla-item12 {
        background-image: url(/img/handy.png);
        background-size: contain;
        background-repeat: no-repeat;
        grid-column-start: 3; 
        grid-column-end: 4; 
      }
      .grilla-item13 {
        background-image: url(/img/consultoria.png);
        background-size: contain;
        background-repeat: no-repeat;
        grid-column-start: 1; 
        grid-column-end: 2; 
      }
      .grilla-item14 {
        text-align: left;
        padding-top: 50px;
        grid-column-start: 2; 
        grid-column-end: 4; 
      }
}

/* PAGINA CLIENTES */
/* MOBILE FIRST */
.img-clientes{
    text-align: center;
}

.img-clientes img{
    width: 500px;
    height: 400px;
}

@media (min-width: 768px){
    .img-clientes{
        text-align: center;
    }
    
    .img-clientes img{
        width: 600px;
        height: 480px;
    }
}


/* PAGINA CONTACTO */
/* MOBILE FIRST */
/****** PAGES -COMENTARIOS-******/

/* MOBILE FIRST */

.pages_comentarios{
    width: 80%;
    height: 100%;
    margin: 20px;
  }
  
  .pages_comentarios h4 {
    font-family: sans-serif;
    letter-spacing: 0.01em;
    line-height: 1.6;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  
  }
  
  .form_comentarios{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  
  .pages_comentarios_titulo {
    font-size: 18px;
    color: #b73413;
    font-style: italic;
    text-align: center;
    font-weight: bold;
  }
  
  .pages_comentarios_nombre{
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
  }
  
  .pages_comentarios_apellido{
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
  }
  
  .pages_comentarios_telefono{
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
  }

  .pages_comentarios_empresa{
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
  }

  .pages_comentarios_email{
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
  }
  
  .pages_comentarios_coment{
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
  }
  
  .pages_comentarios_botton{
    padding: 2px;
  }

  .mapa{
    width: 400px; 
    height: 300px;
  }
  .grilla-map {
    display: grid;
    grid-template-rows: 100px 350px;
    grid-template-columns: 500px; 
    text-align: center;
    /* grid-gap: 5px; */
    /* margin: 5px; */
    /* border-radius: 50px; */
}

.grilla-map-item1 {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
  border-radius: 10px;
}

.grilla-map-item2 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.pages-trabaja{
  width: 80%;
  height: 100%;
  margin: 20px;
}


.form-trabaja{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pages-trabaja-titulo {
  font-size: 18px;
  color: #b73413;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

.pages-trabaja-nombre{
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}

.pages-trabaja-apellido{
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}

.pages-trabaja-telefono{
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}

.pages-trabaja-email{
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}

.pages-trabaja-cargo{
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}

.pages-trabaja-coment{
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}

.pages-trabaja-botton{
  padding: 2px;
}

  @media (min-width: 768px) {
  
  
    .pages_comentarios h4 {
      font-size: 35px;
    }
  
    .pages_comentarios_titulo {
      font-size: 20px;
    }
    
    .pages_comentarios_nombre{
      font-size: 15px;
    }
    
    .pages_comentarios_apellido{
      font-size: 15px;
    }

    .pages_comentarios_telefono{
        font-size: 15px;
      }

      .pages_comentarios_empresa{
        font-size: 15px;
      }
    
    .pages_comentarios_email{
      font-size: 15px;
    }
    
    .pages_comentarios_estado_civil{
      font-size: 15px;
    }
    
    .pages_comentarios_tipo_coccion{
      font-size: 15px;
    }
    
    .pages_comentarios_novedades{
      font-size: 15px;
    }
    
    .pages_comentarios_coment{
      font-size: 15px;
    }
  }

  
  @media (min-width: 1024px) {
    .pages_comentarios{
      width: 100%;
    }

    /* .mapa-grande{
        visibility: visible;
    } */

    .mapa{
      width: 600px; 
      height: 450px;
    }

    .grilla-map {
      display: grid;
      grid-template-rows: 500px;
      grid-template-columns: 0.7fr 1.8fr; 
      text-align: center;
      margin-top: 100px;
      /* grid-gap: 5px; */
      /* margin: 5px; */
      /* border-radius: 50px; */
  }
  
  .grilla-map-item1 {
    text-align: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
    border-radius: 10px;
  }
  
  .grilla-map-item2 {
      text-align: left;
      margin-left: 10px;
      margin-right: 10px;
  }
  }


/* footer y whatsapp */
/* MOBILE FIRST */

.whatsapp{
    display: flex;
    width: 60px;
    height: 60px;
    padding-right: 10px;
    position: fixed;
    bottom: 10px;
    right: 3px;
    z-index: 1;

}

.whatsapp a img{
    width: 50px;
    height: 50px;
    padding-right: 0px;
}



.footer{
    display: flex;
/*     position: relative; */
    justify-content: space-between;
    bottom: 10px;
    background-color: #0E0D0D;
    color: whitesmoke;
    height: 85px;
    align-items: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer nav ul{
    display: flex;
    gap: 8px;
    
}

.footer nav ul li{
    list-style: none;
    
    
}

.footer nav ul li a{
    display: flex;
    color: whitesmoke;
    text-decoration: none;
}

.footer nav ul li span{
    font-size: small;
}
.ico-fb{
    width: 16px; 
    height: 100%;
}

.ico-ig{
    width: 24px;
    height: 100%;
}

@media (min-width: 768px) {  

    .whatsapp{
        display: flex;
        width: 60px;
        height: 60px;
        padding-right: 40px;
        position: fixed;
        bottom: 10px;
        right: 20px;
        z-index: 1;

    }

    .whatsapp a img{
        width: 60px;
        height: 60px;
        padding-right: 0px;
    }



    .footer{
        display: flex;
    /*     position: relative; */
        justify-content: space-between;
        bottom: 10px;
        background-color: #0E0D0D;
        color: whitesmoke;
        height: 85px;
        align-items: center;
        padding: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .footer nav ul{
        display: flex;
        gap: 20px;
        
    }

    .footer nav ul li{
        list-style: none;
        
        
    }

    .footer nav ul li a{
        display: flex;
        color: whitesmoke;
        text-decoration: none;
        

    }

    .footer nav ul li span{
        font-size: large;
    }
    .ico-fb{
        width: 16px; 
        height: 100%;
    }

    .ico-ig{
        width: 24px;
        height: 100%;
    }


    /*unidades de medida*/
    /*absoluta y relativas*/

    /*rem 1 rem = 16 px*/



}