@import "../utilidades/variables";
/*estilos de contacto*/

.pages_comentarios{
    width: 80%;
    height: 100%;
    margin: 20px;
    @include desktop{
        width: 100%;
    }
}

.form_comentarios{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: $font-text;
}

.pages_comentarios_titulo {
    font-size: 17px;
    color: $negro;
    text-align: center;
    font-family: $font-text;
    @include tablet{
        font-size: 20px;
    }
    @include desktop{
        font-size: 25px;
    }
}

.pages-comentario-entry{
    padding: 5px;
    font-size: 15px;
    @include tablet{
        font-size: 17px;
    }
    @include desktop{
        font-size: 19px;
    }
}
  
.pages_comentarios_coment{
    padding: 5px;
    font-size: 15px;
    max-width: 90%;
    @include tablet{
        font-size: 17px;
    }
}

.pages_comentarios_botton{
    padding: 2px;
}


.grilla-map {
    display: grid;
    grid-template-rows: 100px 350px;
    grid-template-columns: 500px; 
    text-align: center;
    /*background-color: $azul;*/
    @include tablet{
        grid-template-rows: 500px;
        grid-template-columns: 1fr 1.5fr; 
        margin-top: 100px;
    }
}

.grilla-map-item1 {
  text-align: center;
  font-family: $font-text;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
  @include tablet{
    text-align: center;
    margin-top: 30px;
  }
  @include desktop{
    text-align: center;
    margin-top: 30px;
  }
}

.grilla-map-item2 {
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    // max-width: 100%;
    @include tablet{
        text-align: left;
        margin-top: 30px;
    }
    @include desktop{
        text-align: left;
        margin-top: 30px;
    }
}
.mapa{
    width: 280px; 
    height: 280px;
    // max-width: 100%;
    @include tablet{
        width: 400px; 
        height: 400px;
    }
    @include desktop{
        width: 600px; 
        height: 450px;
    }
}

.form_comentarios2{
    width: 100%;
    max-width: 100%;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: $font-text;
}
  