@import "../utilidades/variables";
/*estilos de header*/
header{
    justify-content: space-between;
    padding: 10px;
}

.logo{
    transition-duration: 0.5s;
}

.logo:hover{
    transform: scale(1.02);
}

.link-hover{
    transition-duration: 0.1s;
}
.link-hover:hover{
    transform: scale(1.03);
    text-shadow: 1px 1px 2px $azul;
}
h1{
    font-size: 1rem;
    text-align: center;
    @include tablet{
        font-size: 2rem;
    }
    @include desktop{
        font-size: 2.8rem;  
    }
  }

  h2{
    font-size: 0.9rem;
    text-align: center;
    @include tablet{
        font-size: 1.5rem;
    }
    @include desktop{
        font-size: 2.3rem;  
    }
  }

  .contenedor-img1{
    font-size: 0px;
    // background-image: url(../img/camioneta-comtec.jpg);
    background-image: url(../img/ratones.jpeg);
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: $blanco;
    text-shadow: 4px 1px 5px $negro;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @include tablet{
        font-size: xx-large;
        height: 50vh;
    }
    @include desktop{
        font-size: xx-large;
        // height: 60vh;
        height: 80vh;
    }
}
.contenedor-img2{
    background-color: $negro;
    // background-image: url(../img/kevar.jpeg);
    background-image: url(../img/kevar.jpeg);
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: $blanco;
    text-shadow: 3px 2px 3px $negro;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @include tablet{
        // height: 90vh;
        height: 50vh;
    }
    @include desktop{
        // height: 90vh;
        height: 80vh;
    }
    
    p{
        margin-left: 50px;
        margin-right: 50px;
        font-size: small;
        @include tablet{
            margin-left: 70px;
            margin-right: 70px;
            font-size: x-large;
        }
        @include desktop{
            font-size: xx-large;
        }
    }
}
/* whatsapp */

.whatsapp{
    display: flex;
    width: 60px;
    height: 60px;
    padding-right: 10px;
    position: fixed;
    bottom: 10px;
    right: 3px;
    z-index: 1;
    @include tablet{
        padding-right: 40px;
        bottom: 10px;
        right: 20px;
    }
    a{
        img{
            width: 40px;
            height: 40px;
            padding-right: 0px;
            transition-duration: 0.5s;
            @include tablet{
                width: 60px;
                height: 60px;
            }
        }
    }

}
.whatsapp a img:hover{
    transform: scale(1.08);
}

/*footer*/

.footer{
    display: flex;
    justify-content: space-between;
    bottom: 10px;
    background-color: $negro;
    color: $blanco;
    height: 85px;
    align-items: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    nav{
        ul{
            display: flex;
            gap: 8px;
            @include tablet{
                gap: 20px;
            }
            li{
                list-style: none;
                a{
                    display: flex;
                    color: $blanco;
                    text-decoration: none;
                }
                span{
                    font-size: small;
                    @include tablet{
                        font-size: large;
                    }
                }
            }
        }
    }
}

.ico-fb{
    width: 16px; 
    height: 100%;
    transition-duration: 0.5s;
}

.ico-fb:hover{
    transform: scale(1.08);
}

.ico-ig{
    width: 24px;
    height: 100%;
    transition-duration: 0.5s;
}

.ico-ig:hover{
    transform: scale(1.08);
}