/*estilos de nosotros*/
@import "../utilidades/variables";

.grid-container {
    display: grid;
    grid-template-rows: 350px 250px;
    grid-template-columns: 1.7fr; 
    grid-gap: 5px;
    margin: 5px;
    border-radius: 50px;
    @include tablet{
        grid-template-rows: 500px;
        grid-template-columns: 1.7fr 1fr; 
        grid-gap: 15px;
        margin: 20px;
        margin-bottom: 50px;
        border-radius: 30px;
    }
    @include desktop{
        grid-template-columns: 1fr 1fr; 
    }

}

.grid-item1 {
    background-size: contain;
    background-repeat: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    align-items: center;
    @include desktop{
        margin-left: 200px;
    }
}

.altura-carrusel{
    height: 450px;
    min-height: 200px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include tablet{
        height: 500px;
    }
    @include desktop{
        height: 500px;
    }
}

.grid-item2 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 110px;
    border-radius: 10px;
    @include tablet{
        margin-top: 15px;
        border-radius: 50px;
    }
    @include desktop{
        margin-left: 60px;
        margin-right: 60px;
    }
    p{
        font-size: small;
        @include desktop{
            font-size: medium;
        }
    }
}

.tituloh1{
    text-align: center;
    padding-bottom: 20px;
    h1{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

main .galeria-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    padding-bottom: 20px;
    margin-top: 50px;
    .productos{
        display:flex;
        flex-direction: column;
        align-items: center;
        color: $blanco;
        width: 300px;
        height: 400px;
        padding: 10px;
        background-image: url(../img/comercial.png);
        box-shadow: 6px 3px 10px grey;
        border-radius: 10px;
        img{
            height: 150px;
            padding-top: 10px;
        }
        .titulos-productos{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
            margin-top: 10px;
        }
    }
    .productos-it{
        display:flex;
        flex-direction: column;
        align-items: center;
        color: $blanco;
        width: 300px;
        height: 400px;
        padding: 10px;
        background-image: url(../img/targeta\ IT.png);
        box-shadow: 6px 3px 10px grey;
        border-radius: 10px;
        img{
            height: 150px;
            padding-top: 10px;
        }
        .titulos-productos-it{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
            margin-top: 10px;
        }
    }
    .productos-hys{
        display:flex;
        flex-direction: column;
        align-items: center;
        color: whitesmoke;
        width: 300px;
        height: 400px;
        padding: 10px;
        background-image: url(../img/targeta-hys.png);
        box-shadow: 6px 3px 10px grey;
        border-radius: 10px;
        img{
            height: 150px;
            padding-top: 10px;
        }
        .titulos-productos-hys{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
            text-align: center;
            margin-top: 10px;
        }
    }
    .productos-oym{
        display:flex;
        flex-direction: column;
        align-items: center;
        color: $blanco;
        width: 300px;
        height: 400px;
        padding: 10px;
        background-image: url(../img/targeta-oym.png);
        box-shadow: 6px 3px 10px grey;
        border-radius: 10px;
        img{
            height: 150px;
            padding-top: 10px;
        }
        .titulos-productos-oym{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
            text-align: center;
            margin-top: 10px;
        }
    }
    

}